<% layout('layout') -%>

<!-- Heading -->
<md-content flex id="content">
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
      <md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
    <h2>
      <span>Home</span>
    </h2>
  </div>
</md-toolbar>

<!-- Content -->
<md-content ng-controller="MedicineListCtrl" flex layout-padding>
  <md-card >
    <div>
      <md-button class="md-fab md-primary" ng-click="showMedicineForm($event,'create',{})">
        <md-icon md-font-library="material-icons">add</md-icon>
      </md-button> เพิ่มยา</div>
    <md-card >
      <md-input-container class="md-icon-float md-block ">
        <label>ค้นหา (ชื่อยา)</label>
        <md-icon md-font-library="material-icons">search</md-icon>
        <input ng-model="medicineName" type="text">
      </md-input-container>
    </md-card>
    <md-data-table-container>
      <table md-data-table class="md-primary" md-progress="deferred">
        <thead md-order="query.order" md-trigger="onorderchange">
          <tr>
            <th order-by="name" name="ชื่อยา"></th>
            <th name="จัดการ"></th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="m in medicines | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter: medicineName">
            <td>{{m.name}}</td>
            <td>
              <md-button class="md-primary md-raised" ng-click="showMedicineForm($event,'edit',m)"><md-icon md-font-library="material-icons">info</md-icon>แก้ไข</md-button>
              <md-button class="md-fab md-mini md-warn"  ng-click="removeMedicine(m)">
              <md-icon md-font-library="material-icons">delete</md-icon>
            </td>
          </tr>

        </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{medicines.length}}" md-trigger="onpagechange"></md-data-table-pagination>
  </md-card>
</md-content>