<!DOCTYPE html>
<% layout('layout') -%>
     
     <!-- Heading -->
     <md-content flex id="content">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-font-library="material-icons">menu</md-icon>
          </md-button>
          <h2>
            <i class="material-icons">supervisor_account</i>
            <span>ลงทะเบียน</span>
          </h2>
        </div>
      </md-toolbar>

      <!-- Content -->
      <md-content ng-controller="registerCtrl" flex layout-padding>
      <form ng-submit="checkRegister($event)" name="regForm">
      <md-card flex = "100">
        <md-card-content>
        <md-content layout-padding class="autoScroll">
          <md-input-container md-no-float class="md-block" flex="60">
            <label>ชื่อผู้ใช้งาน</label>
            <md-icon md-font-library="material-icons" class="material-icons">account_box</md-icon>
            <input ng-model="regData.username" type="text" name="username" required ng-minlength="6">
            <span style="color:red" ng-show="regForm.username.$dirty && regForm.username.$invalid">
              <span ng-show="regForm.username.$error.required">Username is required.</span>
              <span ng-show="regForm.username.$error.minlength">Username must contain at least 6 characters.</span>
            </span>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="50">
            <label>รหัสผ่าน</label>
            <md-icon md-font-library="material-icons" class="material-icons">https</md-icon>
            <input ng-model="regData.password" type="password" name="password" required ng-minlength="6" ng-change="resetNotMatchAlert()">
            <span style="color:red" ng-show="regForm.password.$dirty && regForm.password.$invalid">
              <span ng-show="regForm.password.$error.required">Password is required.</span>
              <span ng-show="regForm.password.$error.minlength">Password must contain at least 6 characters.</span>
            </span>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="50">
            <md-icon md-font-library="material-icons" class="material-icons">https</md-icon>
            <label>รหัสผ่านซ้ำ</label>
            <input ng-model="regData.repeatPassword" type="password" name="password" required ng-change="resetNotMatchAlert()">
            <span style="color:red" ng-show="regForm.repeatPassword.$dirty && regForm.repeatPassword.$invalid" >
              <span ng-show="regForm.repeatPassword.$error.required">Re-Password is required.</span>
              <span ng-show="regForm.repeatPassword.$error.pwMatch">Re-Password is not matched.</span>
            </span>
            <span style="color:red" ng-show="pwNotMatch">
              <span ng-show="pwNotMatch">Re-Password is not matched.</span>
            </span>
          </md-input-container>
          </md-card-content>
        </md-card>
        <md-card flex = "100">
          <md-card-content>
          <div layout layout-sm="column">
          <md-input-container class="md-icon-float md-block" flex="100">
            <!-- Use floating label instead of placeholder -->
            <label>ชื่อ</label>
            <md-icon md-font-library="material-icons" class="material-icons">face</md-icon>
            <input ng-model="regData.firstname" name="firstname" type="text" required>
            <span style="color:red" ng-show="regForm.firstname.$dirty && regForm.firstname.$invalid">
                <span ng-show="regForm.firstname.$error.required">Firstname is required.</span>
            </span>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="100">
            <!-- Use floating label instead of placeholder -->
            <label>นามสกุล</label>
            <input ng-model="regData.lastname" name="lastname" type="text" required>
            <span style="color:red" ng-show="regForm.lastname.$dirty && regForm.lastname.$invalid" >
              <span ng-show="regForm.lastname.$error.required">Lastname is required.</span>
            </span>
          </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float md-block" flex="65" >
              <label>รหัสประชนชน</label>
              <md-icon md-font-library="material-icons" class="material-icons">accessibility</md-icon>
              <input ng-model="regData.ssn" name="ssn" required ng-minlength="13" ng-maxlength="13" ng-pattern="/^\d+$/">
              <span style="color:red" ng-show="regForm.ssn.$dirty && regForm.ssn.$invalid">
                <span ng-show="regForm.ssn.$error.required">SSN is required.</span>
                <span ng-show="regForm.ssn.$error.minlength">SSN must be length of 13.</span>
                <span ng-show="regForm.ssn.$error.maxlength">SSN must be length of 13.</span>
                <span ng-show="regForm.ssn.$error.pattern">SSN must contain only numbers.</span>
              </span>
            </md-input-container>
            <md-datepicker ng-model="regData.birthdate" md-placeholder="วันเกิด" flex="35" required></md-datepicker>
          </div>
          <div layout layout-sm="column">
          <md-input-container class="md-icon-float md-block" flex="65" >
            <md-icon md-font-library="material-icons" class="material-icons">mail_outline</md-icon>
            <!-- Use floating label instead of placeholder -->
            <label>Email</label>
            <input ng-model="regData.email" type="email" name="email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
            <span style="color:red" ng-show="regForm.email.$dirty && regForm.email.$invalid">
              <span ng-show="regForm.email.$error.required">Email is required.</span>
              <span ng-show="regForm.email.$error.pattern">This email is invalid.</span>
            </span>
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="35">
            <md-icon md-font-library="material-icons" class="material-icons">call</md-icon>
            <!-- Use floating label instead of placeholder -->
            <label>เบอร์โทรศัพท์</label>
            <input ng-model="regData.telNum" name="telNum" type="text" required ng-pattern="/^\d+$/">
            <span style="color:red" ng-show="regForm.telNum.$dirty && regForm.telNum.$invalid">
              <span ng-show="regForm.telNum.$error.required">Telephone number is required.</span>
              <span ng-show="regForm.telNum.$error.pattern">Telephone number must contain only numbers</span>
            </span>
          </md-input-container>
          </div>
          <div layout layout-sm="column">
          <md-input-container style="margin-right: 10px;" flex = "40">
            <label>เพศ</label>
            <md-icon md-font-library="material-icons" class="material-icons">wc</md-icon>
            <md-select ng-model="regData.gender">
              <md-option ng-repeat="gender in genderList" value="{{gender.abv}}">{{gender.gen}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin-right: 10px;" flex = "40">
            <md-icon md-font-library="material-icons" class="material-icons">local_hospital</md-icon>
            <label>หมู่เลือด</label>
            <md-select ng-model="regData.blood_type">
              <md-option ng-repeat="blood in bloodList" value="{{blood.abv}}">{{blood.text}}</md-option>
            </md-select>
          </md-input-container>
          </div>
          <md-input-container class="md-block" flex = "100">
          <md-icon md-font-library="material-icons" class="material-icons">place</md-icon>
          <label>ที่อยู่</label>
          <textarea ng-model="regData.address" name="address" columns="1" md-maxlength="150" rows="5" required></textarea>
          <span style="color:red" ng-show="regForm.address.$dirty && regForm.address.$invalid">
            <span ng-show="regForm.address.$error.required">Address is required.</span>
          </span>
        </md-input-container>    
        </md-content>
          </md-card-content>

        <md-content layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" type="submit" >ลงทะเบียน</md-button>
          <md-button type="reset" class="md-raised md-warn">ล้าง</md-button>
        </md-content>
        </md-card>
      </form>
      </md-content>
      



