<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Hello SE : iDOC System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/lib/angular-snap/angular-snap.css" />
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/javascripts/jquery-2.1.4.min.js"></script>

  </head>
  <body ng-app="main" ng-controller="LoginCtrl">
      <div class="login-page">
        <div class="img-container">
          <div class="text-center pull-right photo">
            <img src="/images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
              <h1 center>iDOC System &nbsp;  &nbsp; &nbsp;  &nbsp;</h1>
            </div>
          </div>
          
          <div class="form-content">
            <form role="form" class="bottom-75" action="login" method="post">
            <div class="table-form">
              <div class="form-groups">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" id="" placeholder="USERNAME" name="username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" id="" placeholder="PASSWORD" name="password">
                </div>
                <div class="form-group">
                    <select class="form-control input-lg" name="role">
                      <option value="1">Patient</option>
                      <option value="2">Doctor</option>
                      <option value="3">Staff</option>
                      <option value="4">Pharmacist</option>
                      <option value="5">Nurse</option>
                      <option value="6">Admin</option>
                    </select>
                </div>
              </div>
              <!-- <a href="/#/home" class="btn btn-default login"><br><img src="images/arrow.png" alt=""></a> -->
              <div class="button-container">
                <button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
              </div> 
            </div>
              <br></br>
              <div class="col-md-6">
                  <span >
                  <a href="/reset_password" class="btn btn-default-lg" style=" color : #fff ; background:orange ; border-color:orange;">ลืมรหัสผ่าน</a>
                  </span>
                </div>        
               <div class="col-md-4">
                  <span><a href="/register" class="btn btn-default-lg" style=" color : #fff ; background:orange ; border-color:orange;">ลงทะเบียน</a>
                  </span>
              </div>
            </div>
          </div>      
            </form>
          </div>      
        </div>


      </div>
    <script type="text/javascript">
    /*$.post("/user/56545a549451dae10555727d" , 
      { isPatient: true, isDoctor: false, isStaff: false, isPharmacist: true, 
        isNurse: true},
      function(result) {
        console.log(result);
    });*/

    /*$.post("/user/56546fabcc12472807109650/delete", function(result) {
      console.log(result);
    });*/

    /*$.post("/medicine/add",
      { name : "BB" },
      function(result) {
        console.log(result);
      }
      );*/

    /*$.post("/medicine/5654172680c94c4d0bdd47fd/delete", function(result) {
      console.log(result);
    });*/

    /*$.post("/department/add",
      { name : "dep67" },
      function(result) {
        console.log(result);
      }
      );*/
      /*$.post("/department/56541e79755b95250c1a8786/delete",function(result) {
        console.log(result);
      });*/

      /*$.post("/department/56541e8a755b95250c1a8787/edit",
        { name : "dept45" },
        function(result) {
          console.log(result);
        }
      );*/

      /*$.post("/medicine/5654173880c94c4d0bdd47fe/edit",
        { name : "CCC" },
        function(result) {
          console.log(result);
        }
      );*/
      /*$.post("/disease/add",
        { disease_id_type : "CCC" ,
          disease_id: "346",
          name: "โรคท้องเสีย"},
        function(result) {
          console.log(result);
        }
      );*/

      /*$.post("/disease/5654354c28dc9a8203b4be1a/delete",function(result) {
        console.log(result);
      });*/

      /*$.post("/disease/5654357828dc9a8203b4be1b/edit",
        { disease_id_type : "CCM" ,
          disease_id: "348",
          name: "โรคท้องร่วง"},
        function(result) {
          console.log(result);
        }
      );*/
      /*$.get("/store/user", function(data) {
        console.log(data);
      });*/

    </script>
    <!-- bower:js -->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-mocks/angular-mocks.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/snapjs/snap.js"></script>
    <script src="/lib/angular-snap/angular-snap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/javascripts/main_app.js"></script>
    <!-- endbuild -->
    
  </body>
</html>