<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>iDOC Appointment</title>

    <% include ../templates/header %>

  </head>

  <body ng-app="doctor" ng-controller="menuCtrl" layout="row" ng-cloak >

     <md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <h1 class="md-toolbar-tools">iDOC System</h1>
      </md-toolbar>
      <!-- Menu list -->

      <md-list>
        <md-list-item md-ink-ripple class="md-clickable" href="/home">
          <md-icon md-font-library="material-icons">home</md-icon>
          <p>Homepage</p>
        </md-list-item>
        

        <md-list-item md-ink-ripple class="md-clickable" href="/profile">
          <md-icon md-font-library="material-icons">account_circle</md-icon>
          <p>Profile</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable" href="/appointment">
          <md-icon md-font-library="material-icons">date_range</md-icon>
          <p>View appointments</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable" href="/roundward">
          <md-icon md-font-library="material-icons">assignment_ind</md-icon>
          <p>View roundward table</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable" href="/logout">
          <md-icon md-font-library="material-icons">exit_to_app</md-icon>
          <p>Logout</p>
        </md-list-item>
      </md-list>
     </md-sidenav>

    <%- body %>
    
    <% include ../templates/footer %>
    
    <!-- Include patient_app.js -->
    <script type="text/javascript" src="/javascripts/doctor_app.js"></script>

  </body>
</html>
