<!DOCTYPE html>
<% layout('layout') -%>

      <!-- Content -->
  <md-content flex id="content">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
          <md-icon md-font-library="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>Roundward Schedule</span>
        </h2>
      </div>
    </md-toolbar>

    <md-content ng-controller="roundWardCtrl" ng-init="init()" class="md-padding">

      <div class="h2-th">ตารางออกตรวจประจำ</div>
      <div ng-show="loadingCount > 0" layout="row" layout-align="space-around">
        <md-progress-circular md-mode="{{ loadingCount == 0 ? null : 'indeterminate' }}" md-diameter="20px"></md-progress-circular>
      </div>
      

      
      <calendar-md md-accent flex layout layout-fill
        calendar-direction="direction"
        on-prev-month="prevMonth"
        on-next-month="nextMonth"
        on-day-click="dayClick"
       title-format="'MMMM y'"
       ng-model='selectedDate'
       week-starts-on="firstDayOfWeek"
       data-start-month=""
       data-start-year=""
       tooltips=""
        day-format="'d'"
       day-label-format="'EEE'"
       day-label-tooltip-format="'EEEE'"
       day-tooltip-format="'fullDate'"
        day-content="setDayContent"
        disable-future-selection="false">
      </calendar-md>
      <br>

      <div ng-show="showDate">
        <div class="h2-th">รอบออกตรวจ วันที่ {{ showDate | date:'dd-MM-yyyy' }}</div>

        <md-data-table-container ng-show="selectedRoundward.length > 0">
          <table md-data-table>
            <thead>
              <tr>
                <th>รอบ</th>
                <th>เวลา</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="rw in selectedRoundward">
                <td>{{ rw.time == 'AM' ? 'เช้า' : 'บ่าย' }}</td>
                <td>{{ rw.time == 'AM' ? '9.30 - 12.00' : '13.00 - 15.30' }}</td>
                <td><md-button class="md-warn md-raised" ng-disabled="loadingCount > 0" ng-click="showCancelDialog($event, rw)"><md-icon md-font-library="material-icons">delete</md-icon>ยกเลิกรอบออกตรวจ</md-button></td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <div ng-show="selectedRoundward.length == 0">
          ไม่มีรอบออกตรวจ
        </div>

        <md-button class="md-primary md-raised" ng-hide="selectedRoundward.length == 2" ng-disabled="loadingCount > 0" ng-click="showAddDialog($event)"><md-icon md-font-library="material-icons">create</md-icon>เพิ่มรอบออกตรวจ</md-button>

      </div>

      <h2 class="md-title" ng-hide="showDate">กรุณาเลือกวันเพื่อดูรอบออกตรวจ</h2>

      </md-content>

</md-content>