<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Hello SE : Hospital OPD System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/lib/angular-snap/angular-snap.css" />
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/chosen/chosen.min.css">
    <script src="/lib/jquery-2.1.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/chosen/chosen.jquery.min.js"></script>

    <style type="text/css">
    .red {
        color: red; 
    }

    .green {
        color: green;
    }

    .black {
        color: black;
    }
    </style>
  </head>