<% layout('layout') -%>
<div ng-app="physicalrecords">
  <div class="container" style="color: black; width: auto" ng-controller="InfoCtrl">
    <h1>Patient Info</h1>
    <p>SSN: {{ info.ssn }}</p>
    <p>Name: {{ info.firstname }} {{ info.lastname }}</p>
    <p>Email: {{ info.email }}</p>
    <p>Gender: {{ info.gender }}</p>
    <p>Bloodtype: {{ info.blood_type }}</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Blood pressure</th>
          <th>Pulse</th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in info.physical_record">
          <td>{{ record.date | date:'MM/dd/yyyy h:mma' }}</td>
          <td>{{ record.weight }}</td>
          <td>{{ record.height }}</td>
          <td>{{ record.blood_pressure }}</td>
          <td>{{ record.pulse }}</td>
          <td>{{ record.temperature }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>