<div class="row" >
        <div class="col-md-12">
          <div class="panel panel-info" style=" color: black; width: auto ; font-size: 20px">
              <div class="panel-heading" style="background-color:#31708f ; color: white;">
                <h3 class="panel-title" style="font-size: 30px">Prescription Record <button type="button" class="btn btn-primary" ng-click="showPresForm('create')">Create</button>
                </h3>
              </div>
              <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Doctor's name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pres in patient.prescription_record | orderBy: 'date':true">
                <td>{{ pres.date | date: 'medium' }}</td>
                <td>{{ pres.status }}</td>
                <td>{{ pres.doctor }}</td>
                <td>
                    <span class="btn btn-info" ng-click="showMedicineList(pres)">
                      View Detail
                    </span>
                    <span class="btn btn-info" ng-show="pres.status == 'Pending'" ng-click="showPresForm('edit', pres)">
                      <i class="fa fa-pencil" ></i>
                    </span>
                    <span class="btn btn-danger" ng-show="pres.status == 'Pending'" ng-click="removePrescription(pres)">
                      <i class="fa fa-trash-o" ></i>
                    </span>
                </td>
                </tr>
            </tbody>
          </table>
          <div align="center" style="color: grey" ng-show="patient.prescription_record.length == 0">No prescription record</div>
          </div>
        </div>
      </div>
    </div>