<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components_material/angular-material/angular-material.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }

        @font-face {
          font-family: 'TH-Sarabun New';
          src: url('./fonts/THSarabunNew.ttf');
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        @font-face {
          font-family: 'ThaiSans';
          src: url('./fonts/thaisanslite_r1.otf');
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        


        

    </style>

  </head>

  <body ng-app="starterApp" ng-controller="menuCtrl" layout="row" ng-cloak >

     <md-sidenav class="md-sidenav-left md-whiteframe-z2" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar>
        <h1 class="md-toolbar-tools">iDOC System</h1>
      </md-toolbar>
      <!-- Menu list -->

      <md-list>
        <md-list-item md-ink-ripple class="md-clickable">
          <md-icon md-font-library="material-icons">home</md-icon>
          <p>Homepage</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable">
          <md-icon md-font-library="material-icons">account_circle</md-icon>
          <p>Profile</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable">
          <md-icon md-font-library="material-icons">date_range</md-icon>
          <p>View appointments</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable">
          <md-icon md-font-library="material-icons">assignment_ind</md-icon>
          <p>Make Appointment</p>
        </md-list-item>

        <md-list-item md-ink-ripple class="md-clickable">
          <md-icon md-font-library="material-icons">exit_to_app</md-icon>
          <p>Logout</p>
        </md-list-item>
      </md-list>
     </md-sidenav>

     <!-- Heading -->
     <md-content flex id="content">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-font-library="material-icons">menu</md-icon>
          </md-button>
          <h2>
            <span>Toolbar with Icon Buttons</span>
          </h2>
        </div>
      </md-toolbar>

      <!-- Content -->
      <md-content flex layout-padding>
        <p>
          ฟหกดฟ่หกดา่ฟหกสดา่ฟหสกาด่สหกาด่สา่
        </p>
        ทดสอบ
        <h1>นี่คือนายเทพสิทธิ์</h1>
        ทดสอบ
        EIei
        <md-button></md-button>
        <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
        <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
        <md-button class="md-primary md-hue-3">Test</md-button>
      </md-content>
      
     </md-content>










    <script src="./bower_components_material/angular/angular.js"></script>
    <script src="./bower_components_material/angular-animate/angular-animate.js"></script>
    <script src="./bower_components_material/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components_material/angular-material/angular-material.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  /*$mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);*/

                      $mdThemingProvider.theme('default')
                          .primaryPalette('teal')
                          .accentPalette('red')
                          .warnPalette('pink');


              })
              .controller('menuCtrl', function($scope, $mdSidenav) {
                $scope.toggleNav = function(compId)
                {
                  $mdSidenav(compId).toggle();
                };
              });

    </script>

  </body>
</html>
