<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Hello SE : Hospital OPD System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/lib/angular-snap/angular-snap.css" />
    <link rel="stylesheet" href="/styles/main.css">

  </head>
  <body ng-app="main">
    <div class="">
      <div ui-view="" class="ng-scope">
          <div class="ui-base ng-scope">
            <div ui-view="" class="ng-scope">
              <div class="dashboard-page ng-scope">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 main ng-scope" ui-view="">
                      <div class="ng-scope">
                        <div class="snap-drawers">
                          <snap-drawer class="snap-drawer snap-drawer-left">
                            <div class="snap-menu">
                              <div class="sidebar-header text-center">
                                <img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
                              </div>

                              <!-- MENU BAR --> 
                              
                              <ul class="snap-ul">
                                <li class="active"><a href="/home">HOME</a></li>
                                <li><a href="patients/">PATIENTS</a></li>
                                <li><a href="physical_records/">PHYSICAL RECORDS</a></li>
                                <li><a href="medical_records/">MEDICAL RECORDS</a></li>
                                <li><a href="prescriptions/">PRESCRIPTIONS</a></li>
                                <li><a ui-sref="login" href="#/login">LOGOUT</a></li>
                              </ul>
                            </div>
                          </snap-drawer></div>
                        <snap-dragger>
                        </snap-dragger>
                        <snap-content snap-opt-tap-to-close="false" class="snap-content" style="transform: translate3d(266px, 0px, 0px);">

                        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
                          <span class="menutoggle">
                            <i ng-hide="menuOpen" class="fa fa-info fa-2x ng-hide"></i>
                            <i ng-show="menuOpen" class="fa fa-info fa-2x"></i>
                          </span>
                        </a>
    
                      <div class="fr">
                        <h2>Hello SE <small>Hospital OPD System</small></h2>
                      </div>
                      <div class="jumbotron">
                        <div class="container">
                          <h1>Welcome to Hello SE OPD System!</h1><br><br>
                          This is a home page!<br>
                          Navigate the web site by selecting on sidebar.<br><br>
                          <p>
                              <img src="/images/flat-avatar.png" vertical-align ="middle" class="user-avatar img-circle img-responsive" />
                          </p>
                          
                        </div>
                      </div>
                    </snap-content> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- bower:js -->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-mocks/angular-mocks.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/snapjs/snap.js"></script>
    <script src="/lib/angular-snap/angular-snap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/javascripts/main_app.js"></script>
    <!-- endbuild -->
  </body>
</html>