<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Hello SE : iDOC System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/lib/angular-snap/angular-snap.css" />
    <link rel="stylesheet" href="/styles/main.css">

  </head>
  <body ng-app="main" ng-controller="LoginCtrl">
      <div class="login-page">
        <div class="img-container">
          <div class="text-center pull-right photo">
            <img src="/images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
              <h1 center>iDOC System &nbsp;  &nbsp; &nbsp;  &nbsp;</h1>
            </div>
          </div>
          
          <div class="form-content">
            <form role="form" class="bottom-75" action="login" method="post">
            <div class="table-form">
              <div class="form-groups">
                <div class="form-group">
                  <input type="text" class="form-control input-lg" id="" placeholder="USERNAME" name="username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control input-lg" id="" placeholder="PASSWORD" name="password">
                </div>
              </div>
              <!-- <a href="/#/home" class="btn btn-default login"><br><img src="images/arrow.png" alt=""></a> -->
              <div class="button-container">
                <button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
              </div> 
            </div>
            <div class="remember">
              <div class="row">          
              <label class="checkbox1" for="Option"> 
                          <input id="Option" type="checkbox" class="">
                          <span></span>
                        </label>
                        remember me           
                </div>
            <div class="" "row"="">
              <br></br>
              <div class="col-md-6">
                  <span class="btn btn-default-lg" style=" color : #fff ;background:orange ; border-color:orange;">Forgot password</span>
                </div>        
               <div class="col-md-4">
                  <span ng-click="showRegister()" class="btn btn-default-lg" style=" color : #fff ; background:orange ; border-color:orange;">Register</span>
              </div>
            </div>
          </div>      
            </form>
          </div>      
        </div>


      </div>

    <!-- bower:js -->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-mocks/angular-mocks.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/snapjs/snap.js"></script>
    <script src="/lib/angular-snap/angular-snap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/javascripts/main_app.js"></script>
    <!-- endbuild -->
    
  </body>
</html>