<!DOCTYPE html>
<% layout('layout') -%>

      <!-- Content -->
  <md-content flex id="content">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
          <md-icon md-font-library="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>Confirm Appointment</span>
        </h2>
      </div>
    </md-toolbar>

    <md-content ng-controller="confirmAppointmentCtrl" ng-init="init('<%= earliestData %>')" class="md-padding">

      <div class="h2-th">ยืนยันการนัดหมาย</div>
      <div ng-show="loadingCount > 0" layout="row" layout-align="space-around">
        <md-progress-circular md-mode="{{ loadingCount == 0 ? null : 'indeterminate' }}" md-diameter="20px"></md-progress-circular>
      </div>
      
      <md-card>
        <md-toolbar class="md-warn">
          <div class="md-toolbar-tools">
            <h2 class="md-flex" style="font-size: 36px;"><md-icon md-font-library="material-icons">assignment_ind</md-icon> รายละเอียดนัดหมาย</h2>
          </div>
        </md-toolbar>

        <md-card-content layout="row" layout-sm="column" layout-align="start center">
          <div flex>
            <span style="font-weight: bold">ชื่อแพทย์:</span> {{ doctorName }}
          </div>
          <div flex>
            <span style="font-weight: bold">วันที่: </span> {{ appointmentDate | date: 'dd/MMM/yyyy' }}
            <md-button class="md-primary" ng-hide="sending || success" ng-click="showDialog($event)">เลือกวันอื่น</md-button>
          </div>
          <div flex>
            <span style="font-weight: bold">เวลา: </span>{{ selectedSlot.displayMsg }}
            <md-button class="md-primary" ng-hide="sending || success" ng-click="showSelectTimeDialog()">เลือกเวลา</md-button>
          </div>

        </md-card-content>
        <md-card-actions layout="column" layout-align="center center">
          <md-button class="md-raised md-primary" ng-hide="success" ng-disabled="sending" ng-click="submit()" ><md-icon md-font-library="material-icons">check_circle</md-icon> ยืนยัน</md-button>
          <div flex ng-show="success">
            <h2><md-icon md-font-library="material-icons" style="font-size: 64px; position: relative; left: -40px; top: -26px">check_circle</md-icon>สร้างการนัดหมายเรียบร้อยแล้ว</h2>
          </div>
        </md-card-actions>
        <br>

      </md-card>
      
      
      </md-content>

</md-content>