<!doctype html>
    <%- include ../include/header.ejs %>

    <body>

    <%- include ../include/snap_header.ejs %>
    <br>
      <div class="container" ng-app="appointment" ng-controller="CreateCtrl">
        <div class="panel panel-default" >
          <div class="panel-heading" style="background:#18aa8d ; color:white;"><h1>Create Appointment</h1></div>
          <div class="panel-body">
            <form ng-submit="getAvailableDate()" class="form" role="form" style="color:black;">
              <div class="form-group">
                <label>Symptoms/Causes:</label><br>
                <textarea class="form-control" rows="5"ng-model="symptoms"></textarea>
              </div>              
              
              <div class="form-group">
                <label>Select department: </label>
                <div>
                  <select data-placeholder="Choose a department..." class="chosen-select" style="width:350px;" tabindex="2" ng-model="department" require>
                    <option value=""></option>
                    <option value="1">Department A</option>
                    <option value="2">Department B</option>
                    <option value="3">Department C</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label>Select doctor: </label>
                <div>
                  <select data-placeholder="Choose a doctor..." class="chosen-select" style="width:350px;" tabindex="2" ng-model="doctor">
                    <option value=""></option>
                    <option value="DocID1">Dr. Karn GG - Computer Deparment</option>
                    <option value="DocID2">Dr. North Oppa - Computer Department</option>
                  </select>
                </div>
              </div>
              
              <button type="submit" class="btn btn-default" style="background:#18aa8d ; color:white;">Next</button> 
        </form>

          </div>
        </div>
      </div>
        
      

    <%- include ../include/snap_footer.ejs %>

    <script type="text/javascript">
    $(".chosen-select").chosen();
    </script>

  </body>
  <script src="/javascripts/appointment/services/appointment_fac.js"></script>
  <script src="/javascripts/appointment/appointment_app.js"></script>
</html>
