<% layout('layout') -%>

<!-- Heading -->
<md-content flex id="content" ng-controller="ListAppointmentCtrl">
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
      <md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
    <h2>
      <span>Appointment List</span>
    </h2>
  </div>
</md-toolbar>

<!-- Content -->
<md-content flex layout-padding>
  <h1>รายการนัดหมายกับแพทย์</h1>

  <md-data-table-container>
  <table md-data-table ng-init="init()">
    <thead>
      <tr>
        <th>วันที่</th>
        <th>เวลา</th>
        <th>ชื่อแพทย์</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in appointmentList">
        <td>{{ app.roundWard.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ getTimeMessage(app.roundWard.time, app.slot) }}</td>
        <td>{{ app.doctor.userId.firstname }} {{ app.doctor.userId.lastname }}</td>
        <td><md-button class="md-primary" href="/appointment/{{app._id}}">ดูรายละเอียด</md-button></td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>
<div ng-show="selectedRoundward.length == 0">
  ไม่มีนัดหมาย
</div>

</md-content>