<!doctype html>
	<!-- HEADER (including) -->
	<%- include ../include/header.ejs %>
	<!-- BODY -->
	<body ng-app="appointment" ng-controller="AppointmentCtrl">
		<!-- Menu Layout -->
		<%- include ../include/snap_header.ejs %>

		<div class="container" style="width: auto">
			<h1 style="color : black">{{title}}</h1>

		</div>
	</body>
	<!-- FOOTER -->
	<%- include ../include/snap_footer.ejs %>
	<!-- APP -->
	<script type="text/javascript" src="/javascripts/appointment/appointment_app.js"></script>
	<!-- SERVICES -->
	
</html>