<!doctype html>
    <%- include ../include/header.ejs %>

    <body>

    <%- include ../include/snap_header.ejs %>

    <div class="container" style="color: black; width: auto" >
    	<div class="page-header">
        	<h1>Doctor's Appointment</h1>
    	</div>
    	<div class="col-md-12">
    		Name : Dr.Karn <br>
    		Doctor ID :
    	</div>
    	<br>
    	<br>
    	<br>
		<table class="table table-hover">
		    <thead style="background-color:#1abc9c; color:white;">
		      <tr>
		        <th>Date</th>
		        <th>Time</th>
		        <th>Patient</th>
		        <th>Detail</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>1/10/2015</td>
		        <td>10:00</td>
		        <td>Prayuth Chan</td>
		      	<td><a href="#" class="btn btn-primary" style="color: white">
               		<i class="fa fa-list"></i>
              	</a></td>
		      </tr>
		      <tr>
		        <td>2/10/2015</td>
		        <td>10:00</td>
		        <td>Joe Doe</td>
		      	<td><a href="#" class="btn btn-primary" style="color: white">
               		<i class="fa fa-list"></i>
              	</a></td>
              </tr>
		      <tr>
		        <td>3/10/2015</td>
		        <td>10:00</td>
		        <td>Luke Skywalker</td>
		        
		      	<td><a href="#" class="btn btn-primary" style="color: white">
               		<i class="fa fa-list"></i>
              	</a></td>
		      </tr>
		    </tbody>
		</table>

    </div>

    <%- include ../include/snap_footer.ejs %>
  </body>
</html>
