

<md-dialog aria-label="Edit Profile"  ng-cloak>
  <form ng-submit="submitProfile()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>แก้ไขข้อมูลส่วนตัว</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-library="material-icons" class="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:1200px;max-height:810px; ;width:800px;height:600px;">
      <!-- Content -->
      <md-content  flex layout-padding>
        <md-content layout-padding class="autoScroll">
          <div layout layout-sm="column">
          <md-input-container class="md-icon-float md-block" flex="100" >
            <!-- Use floating label instead of placeholder -->
            <label>ชื่อ</label>
            <md-icon md-font-library="material-icons" class="material-icons">face</md-icon>
            <input ng-model="patient.firstname" type="text" >
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="100" >
            <!-- Use floating label instead of placeholder -->
            <label>นามสกุล</label>
            <input ng-model="patient.lastname" type="text" >
          </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container class="md-icon-float md-block" flex="65"  >
              <label>รหัสประชาชน</label>
              <md-icon md-font-library="material-icons" class="material-icons">accessibility</md-icon>
              <input ng-model="patient.ssn" type="text" >
            </md-input-container>
            <md-datepicker ng-model="patient.birthdate" md-placeholder="วันเกิด" flex="35" ></md-datepicker>
          </div>
          <div layout layout-sm="column">
          <md-input-container class="md-icon-float md-block" flex="65"  >
            <md-icon md-font-library="material-icons" class="material-icons">mail_outline</md-icon>
            <!-- Use floating label instead of placeholder -->
            <label>Email</label>
            <input ng-model="patient.email" type="email" >
          </md-input-container>
          <md-input-container class="md-icon-float md-block" flex="35" >
            <md-icon md-font-library="material-icons" class="material-icons">call</md-icon>
            <!-- Use floating label instead of placeholder -->
            <label>เบอร์โทรศัพท์</label>
            <input ng-model="patient.telNum" type="text" >
          </md-input-container>
          </div>
          <div layout layout-sm="column">
          <md-input-container style="margin-right: 10px;" flex = "40" >
            <label>เพศ</label>
            <md-icon md-font-library="material-icons" class="material-icons">wc</md-icon>
            <md-select ng-model="patient.gender">
              <md-option ng-repeat="gender in genderList" value="{{gender.abb}}" >{{gender.gen}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin-right: 10px;" flex = "40" >
            <md-icon md-font-library="material-icons" class="material-icons">local_hospital</md-icon>
            <label>หมู่</label>
            <md-select ng-model="patient.blood_type">
              <md-option ng-repeat="blood in bloodList" value="{{blood}}" >{{blood}}</md-option>
            </md-select>
          </md-input-container>
          </div>
          <md-input-container class="md-block" flex = "100" >
          <md-icon md-font-library="material-icons" class="material-icons">place</md-icon>
          <label>ที่อยู่</label>
          <textarea ng-model="patient.address" columns="1" md-maxlength="150" rows="5" ></textarea>
        </md-input-container>   
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" type="submit" >
        ยืนยัน
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>



      
      



