

<md-dialog aria-label="Reset Result"  ng-cloak>
  <form >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>รีเซ็ตรหัสผ่าน</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-library="material-icons" class="material-icons">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:1200px;max-height:810px;">
      <!-- Content -->
      <md-content  flex layout-padding>
        <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="showProgress"></md-progress-circular>
        </div>
      </md-content>
      <md-content layout="row" layout-align="center center">
        <p ng-show = "finishProgress">{{text}}</p>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="confirm()"ng-show="finishProgress">
        ตกลง
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>



      
      



