<modal title="Medicine List" visible="showMedicineListModal">
	<label>Doctor: {{prescription.doctor}}</label>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Medicine List</th>
				<th>Dosage</th>
				<th>How to</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="medicine in medicineList">
				<td>{{a}}</td>
				<td>{{a}}</td>
				<td>{{a}}</td>
			</tr>
		</tbody>
	</table>
	<button type="submit" id="submit" class="btn btn-primary">Submit</button>
</modal>