<!doctype html>
    <%- include ../include/header.ejs %>

    <body ng-app="prescriptions" ng-controller="ListCtrl" >
    <%- include ../include/snap_header.ejs %>

    <div class="container" style="color: black; width: auto" >
        <h1>Prescription List</h1>

        <form class="form-inline" role="form">
            <div class="form-group">
                <label>Search: </label>
                <input type="text" class="form-control" id="name" placeholder="Search..." ng-model="fullnameFilterItem.store">
            </div>
            <div class="form-group">
                <label>สถานะ: </label>
                <select class="form-control" ng-model="statusFilterItem.store" ng-options="item.name for item in statusFilterOption.stores">
                </select>
            </div>
            <!-- <button type="submit" class="btn btn-info">
                <i class="fa fa-search" ></i>
            </button> -->
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Patient Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="prescription in prescriptions | filter:fullnameFilter |  filter:statusFilter | orderBy:'date':true">
                    <td>{{ prescription.date | date: 'medium' }}</td>
                    <td>{{ prescription.patient.firstname }} {{ prescription.patient.lastname }}</td>
                    <td  ng-class="{red: prescription.status === 'Pending', green: prescription.status !== 'Pending'}">{{ prescription.status }}</td>
                    <td>
                        <span class="btn btn-primary" ng-click="showMedicineList(prescription)">
                            <i class="fa fa-list" ></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

    
    </div>
    <%- include ../include/snap_footer.ejs %>

    <script src="/javascripts/pharmacist_app.js"></script>

    <%- include prescription_medicine_record.ejs %>
  </body>
</html>