<!DOCTYPE html>
<% layout('layout') -%>
     
     <!-- Heading -->
     <md-content flex id="content">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleNav('left')" hide-gt-md aria-label="Menu">
            <md-icon md-font-library="material-icons">menu</md-icon>
          </md-button>
          <h2>
            <span>Make Appointment</span>
          </h2>
        </div>
      </md-toolbar>

      <!-- Content -->
      <md-content ng-controller="makeAppointmentCtrl as ctrl" flex layout-padding>
      <form ng-submit="submit()" name="userForm">
        
        <div layout="column">

          <!-- Doctor/Department -->
          <div class="h2-th">1. ต้องการนัดหมายโดยระบุแพทย์หรือแผนก</div>
          <md-radio-group ng-model="selectedType" layout="row">
            <md-radio-button value="Doctor" class="md-primary">แพทย์</md-radio-button>
            <md-radio-button value="Department" class="md-primary">แผนก</md-radio-button>
          </md-radio-group>

          <!-- Choose Department -->
          <div ng-show="selectedType === 'Department'">
            <div class="h2-th">2. เลือกแผนกของแพทย์ที่ต้องการพบ</div>
            <md-input-container flex="40">
              <label>Department</label>
              <md-select ng-model="selectedDepartment" placeholder="เลือกแผนก">
                <md-option ng-repeat="dep in departmentList" value="{{dep.name}}">
                  {{dep.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          
          <!-- Choose Doctor -->
          <div ng-show="selectedType === 'Doctor'">
            <div class="h2-th">2. เลือกแพทย์ที่ต้องการพบ</div>
            <form name="autocompleteForm" ng-show="selectedType === 'Doctor'">
              <md-autocomplete required md-input-name="autocomplete" placeholder="กรอกชื่อแพทย์" md-selected-item="selectedDoctor" md-search-text="searchText" md-items="doctor in querySearch(searchText)" md-item-text="doctor.firstname + ' ' + doctor.lastname">
                <md-item-template>
                  <span md-highlight-text="searchText" md-highlight-flags="^i">{{doctor.firstname}} {{doctor.lastname}} - {{doctor.department}}</span>
                </md-item-template>
                <md-not-found>
                  No matches found.
                </md-not-found>
                <div ng-messages="autocompleteForm.autocomplete.$error">
                  <div ng-message="required">This field is required</div>
                </div>
              </md-autocomplete>
            </form>
          </div>
          
          

        </div>
        <md-content layout="row" layout-align="center center">
        <md-button type="submit" ng-disabled="!(selectedType === 'Department' && selectedDepartment) && !(selectedType === 'Doctor' && selectedDoctor)" class="md-raised md-primary" href="/appointment/confirm_{{ selectedType }}/{{ selectedType === 'Department' ? selectedDepartment : selectedDoctor._id }}/<%= patientId %>">Next</md-button>
        </md-content>
      </form>
      </md-content>
      